@{
    Layout = null;
}

@using MVCApp.ViewModels;

@model EmployeeViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div> 
        <b>EmployDetails:</b><br />
                <span style="background-color:@Model.SalaryColor">
                   EmploySalary:@Model.Salary.ToString("C")
                </span>

</body>
</html>
